<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop.xsd
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx.xsd">
						
	<!-- 读取属性文件 -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	
	<!-- 数据源 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${driverClass}"></property>
		<property name="jdbcUrl" value="${jdbcUrl}"></property>
		<property name="user" value="${user}"></property>
		<property name="password" value="${password}"></property>
		<property name="initialPoolSize" value="${initialPoolSize}"></property>
		<property name="minPoolSize" value="${minPoolSize}"></property>
		<property name="maxPoolSize" value="${maxPoolSize}"></property>
	</bean>
	
	<!-- 本地会话工厂bean -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<!-- 注入hibernate属性 -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
			</props>
		</property>
		<!-- hibernate映射文件的位置 -->
		<property name="mappingDirectoryLocations">
			<list>
				<value>classpath:cn/itcast/oa/domain</value>
			</list>
		</property>
		<!-- 加载jbpm jar包中的hbm映射文件 -->
		<property name="mappingJarLocations">
			<list>
				<value>/WEB-INF/lib/jbpm.jar</value>
			</list>
		</property>
	</bean>
	
	<!-- Hibernate事务管理器 -->
	<bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 对注解提供支持 -->
	<context:annotation-config/>
	<!-- 组件扫描 -->
	<context:component-scan base-package="cn.itcast.oa"/>
	
	<!-- 注解驱动 -->
	<tx:annotation-driven transaction-manager="txManager"/>
	
	<!-- 配置jbpm和spring框架整合的核心类 -->
	<bean id="springHelper" class="org.jbpm.pvm.internal.processengine.SpringHelper">
		<!-- 指定jbpm框架的核心配置文件 -->
		<property name="jbpmCfg" value="jbpm.cfg.xml"/>
	</bean>
	
	<!-- 配置ProcessEngine对象 -->
	<bean id="processEngine" factory-bean="springHelper" factory-method="createProcessEngine"></bean>
</beans>